/* only used once */
.App {
  margin-top: 32px;
  margin-left: 5%;
  margin-right: 5%;
}

/* only used once */
.function-button-container {
  display: flex;
  flex-wrap: wrap;
}

/* only used once */
.function-button {
  color: #4b4699 !important;
  border-color: #4b4699 !important;
  margin: 4px 8px !important;
  flex-basis: calc(50% - 16px);
  max-width: calc(50% - 16px);
  flex-shrink: 5;
  display: inline-block;
}

.button {
  text-align: center;
  align-items: center;
  transition-duration: 100ms, 100ms, 100ms, 100ms !important;
}

.button:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset !important;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.basic-button-container {
  margin-top: 16px;
  width: 30%;
  align-content: start;
  padding-left: 0 !important;
  flex-direction: column;
}

@media only screen and (max-width: 900px) {
  .basic-button-container {
    width: 100%;
    margin-bottom: 20px;
  }
}

/* This is such a bad thing to do
and I don't have a better name for this...
sorryt */
.right-col-break-mobile {
  width: 70%;
}

@media only screen and (max-width: 900px) {
  .right-col-break-mobile {
    width: 100%;
  }
}

.basic-button-row {
  flex-wrap: nowrap;
}

/* only used once */
.small-button {
  width: 64px;
  height: 64px;
  margin: 6px !important;
  color: black !important;
  font-size: 1.25rem !important;
}

@media only screen and (max-width: 599px) {
  .small-button {
    width: 40px;
    height: 40px;
  }
}

.utility-button {
  width: 102px;
  height: 48px;
  color: black !important;
  font-size: 1.25rem !important;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-top: 18px !important;
  margin-bottom: 6px !important;
  margin-right: 6px !important;
  margin-left: 6px !important;
}

.clear-button {
  color: crimson !important;
}

.equals-button {
  color: #008140 !important;
}

.calculator-container {
  display: flex;
  flex-direction: column;
}

.calculator-buttons {
  display: flex;
  flex-wrap: wrap;
}

.input-container {
  border-radius: 8px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 16px;
  padding-top: 24px;
  margin-bottom: 12px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.button-group {
  margin-bottom: 24px;
}

.text-field {
  margin-bottom: 6px !important;
}

.formula {
  font-size: 1.5rem !important;
  color: green;
  margin-top: 1rem;
  margin-left: 1rem;
  font-family: 'Poppins,'Lato',sans-serif';
}

.user-input-text-field {
  margin-bottom: 18px !important;
  margin-top: 18px !important;
  margin-left: 16px !important;
}

.section-header {
  margin: 0px !important;
  padding-top: 14px;
  padding-bottom: 14px;
  width: 100%;
}

.function-buttons-grid-container {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 266px);
  overflow-y: scroll;
  border-top-color: #b8b8b8;
  border-top-width: 1px;
  border-top-style: solid;
  padding: 0px !important;
  margin-top: 16px;
  margin-left: 16px;
  margin-bottom: 60px;
}

.function-buttons-grid-item {
  padding-right: 8px;
  padding-left: 8px !important;
  padding-bottom: 16px;
  padding-top: 0px !important;
}

.functions-header-container {
  width: 100%;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.functions-header {
  display: inline;
  margin-right: 12px;
}

.function-textfield {
  transition: all 0.1s ease-in-out;
  overflow: hidden;
  padding-left: 16px; /* to match style */
}

.number-button-container {
  max-width: 304px !important;
  align-content: start;
}


.accordion {
  margin-left: 16px !important;
}

.from-to-button {
  display: inline-flex;
  align-items: center;
  margin-right: 8px;
  width: 36px;
  color: cornflowerblue !important;
}

.docs-link {
  width: 100%;
  display: inline-block;
}

.formula-container {
  width: max-content;
  margin-bottom: 12px;
  margin-left: 16px;
  margin-top: 8px;
  border-radius: 3px;
  padding: 5px;
	animation: alternate 1.5s flash ease-in-out;
}

@keyframes flash {
  from { background: #f0e28b; }
  to   { background: default; }
}

.cell-text-field {
  width: 120px;
}