.App {
  margin-top: 32px;
  margin-left: 5%;
  margin-right: 5%;
}

.function-button-container {
  width: 600px;
  max-width: 600px;
  display: flex;
  flex-flow: wrap;
  margin-bottom: 8px;
}

.function-button {
  width: 100%;
}

.formula {
  color: #055;
  margin-left: 12px;
}

button {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  text-align: center;
  align-items: center;
}

.button:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset !important;
}

.small-button-container {
  margin-top: 16px;
  width: 304px;
  align-content: start;
}

.small-button {
  width: 64px;
  height: 64px;
  margin: 6px !important;
  color: black !important;
  font-size: 1.25rem !important;
}

.utility-button {
  width: 128px;
  height: 48px;
  color: black !important;
  font-size: 1.25rem !important;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-top: 18px !important;
  margin-bottom: 6px !important;
  margin-right: 6px !important;
  margin-left: 6px !important;
}

.from-to-button {
  color: cornflowerblue !important;
}

.clear-button {
  color: crimson !important;
}

.equals-button {
  color: mediumseagreen !important;
}

.input-container {
  border-radius: 8px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 16px;
  padding-top: 24px;
  margin-bottom: 12px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.button-group {
  margin-bottom: 24px;
}

.text-field {
  margin-bottom: 6px !important;
}

.formula {
  font-size: 1.5rem !important;
  color: green;
  font-family: "Source Code Pro", courier;
  margin-top: 1rem;
}

.user-input-text-field {
  margin-bottom: 18px !important;
  margin-top: 18px !important;
  margin-left: 16px !important;
}

.sectionHeader {
  margin-top: 16px;
  margin-bottom: 4px;
  margin-left: 4px;
}

.function-buttons {
  margin-bottom: 20px;
}

.function-buttons-grid-container {
  max-height: calc(100vh - 306px);
  overflow-y: scroll;
  border-top-color: gray;
  border-top-width: 1px;
  border-top-style: solid;
  padding: 0px !important;
  margin-top: 16px;
  margin-left: 16px;
}

.function-buttons-grid-item {
  padding-right: 8px;
  padding-left: 8px !important;
}

.functions-header-container {
  width: 100%;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.functions-header {
  display: inline;
  margin-right: 12px;
}

.function-textfield {
  transition: all 0.1s ease-in-out;
  width: 180px;
  overflow: hidden;
}

.not-expanded-textfield {
  display: flex;
  width: 0;
}

.not-expanded-textfield > div > * {
  padding-left: 0px;
  padding-right: 0px;
}

.number-button-container {
  max-width: 304px !important;
  align-content: start;
}

.formula-container {
  width: 100%;
  margin-bottom: 12px;
  margin-left: 16px;
}

.accordion {
  margin-left: 16px !important;
}