.App {
  margin-top: 32px;
  margin-bottom: 48px;
  margin-left: 5%;
  margin-right: 5%;
}

.function-button-container {
  width: 600px;
  max-width: 600px;
  display: flex;
  flex-flow: wrap;
  margin-bottom: 8px;
}

.function-button {
  margin: 6px !important;
}

.formula {
  color: #055;
  margin-left: 12px;
}

.small-button-container {
  width: 380px;
}

.small-button {
  width: 64px;
  height: 64px;
  text-align: center;
  align-items: center;
  border-color: black !important;
  color: black !important;
  margin: 6px !important;
}

.big-font-size-button {
  font-size: 1.25rem !important;
}

.from-to-button {
  color: cornflowerblue !important;
}

.clear-button {
  color: crimson !important;
}

.equals-button {
  background-color: mediumseagreen !important;
  color: white !important;
}

.inputContainer {
  border-radius: 8px;
  border-color: black;
  border-style: solid;
  padding-left: 12px;
  padding-left: 12px;
  padding-bottom: 16px;
  padding-top: 24px;
  margin-bottom: 12px;
}

.button-group {
  margin-bottom: 24px;
}

.text-field {
  margin-bottom: 6px !important;
}

.formula {
  font-size: 1.5rem !important;
  color: green;
  font-family: "Source Code Pro", courier;
  margin-top: 1rem;
}